.App {
    width: 1000px;
    padding: 20px;
}
.map-wrap {
    width: 100%;
    height: 100%; /* calculate height of the screen minus the heading */
}
.map {
    position: absolute;
    width: 100%;
    height: 100%;
}
.load-header{
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
}
.load-heade-title{
    font-weight: bold;
    margin: 0 0 5px 0;

}
.form-inputs{
    display: flex;
    flex-direction: column;
    margin: 0 0 20px 0;
}
.form-title{
    font-weight: bold;
    margin: 0 0 10px 0;
}
.form-inputs-bottom {
    margin: 20px 0 0 0;
    display: flex;
}
.form-inputs-bottom-box {
    width: 50%;
}
.form-inputs-bottom-box-card {

}
.form-inputs-bottom-country-info {

}
.form-input-component {
    margin: 0 10px 10px 0 !important;
    width: calc(100% / 4 - (30px / 4));
}
.form-input-component:nth-last-child(1) {
    margin-right: 0 !important;
}
.load-header-button-details {
    margin: 5px 5px 0 0 !important;
}
.load-header-select-component {
    width: 100%;
}
.countries-select-component {
    width: 100%;    
}
.form-input-select-country-container {
    margin: 5px 0 0 0;
}
.form-input-select-country-title {
    margin: 0 0 5px 0;
    font-weight: bold;
}
.login-dialog-container{
    padding: 12px;
    width: 300px;
}
.login-dialog-box{
    display: flex;
    justify-content: center;
}
.login-dialog-footer{
    margin: 12px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.login-dialog-footer-button {
    padding: 6px 12px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.welcome-dialog-container{
    padding: 12px;
    width: 300px;
}
.welcome-dialog-box{

}
.welcome-dialog-footer{
    margin: 12px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.welcome-dialog-footer-button{
    padding: 6px 12px;
    background-color: #f0f0f0;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.login-dialog-google-button {
    width: 175px;
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}
.welcome-logout-button {
    cursor: pointer;
}